In [ ]:
import pandas as pd
import numpy as np
import requests
import json

In [ ]:
#base_url = "https://api.careeronestop.org/v1/occupation/3HAyrFBWGYLl6M1/Taxi%20Drivers%20and%20Chauffeurs/"

#San Diego Information
#base_url=3
#url = "https://api.careeronestop.org/v1/occupation/3HAyrFBWGYLl6M1/Taxi%20Drivers%20and%20Chauffeurs/san%20diego%2C%20ca?training=true&interest=true&videos=true&tasks=true&dwas=true&wages=true&alternateOnetTitles=true&projectedEmployment=true&ooh=true&stateLMILinks=true&relatedOnetTitles=true&skills=false&knowledge=true&ability=true&trainingPrograms=true"
#response = requests.get(url).json()
#base_url   
    
#Dallas Information  
#https://api.careeronestop.org/v1/occupation/3HAyrFBWGYLl6M1/Taxi%20Drivers%20and%20Chauffeurs/dallas%2C%20tx?training=true&interest=true&videos=true&tasks=true&dwas=true&wages=true&alternateOnetTitles=true&projectedEmployment=true&ooh=true&stateLMILinks=true&relatedOnetTitles=true&skills=false&knowledge=true&ability=true&trainingPrograms=true

#Boston 
 #https://api.careeronestop.org/v1/occupation/3HAyrFBWGYLl6M1/Taxi%20Drivers%20and%20Chauffeurs/boston%2C%20ma?training=true&interest=true&videos=true&tasks=true&dwas=true&wages=true&alternateOnetTitles=true&projectedEmployment=true&ooh=true&stateLMILinks=true&relatedOnetTitles=true&skills=false&knowledge=true&ability=true&trainingPrograms=true

In [ ]:
# url
# response = requests.get(url).json()
# response

In [2]:
import pandas as pd
import numpy as np
import requests
import json

userId = "3HAyrFBWGYLl6M1"
onetCode = "53304100"
location = "San Diego, CA"
apikey = "Bearer, eODEsyCieWZJ+6HhiLG+oVL2DoRo2pKsw3xtCEnO4HXLwfYMVWdFG18co4RuFvHr3rN/EcuNhcqY4rImdHXMEQ=="
auth_values = (apikey, userId )
url = "https://api.careeronestop.org/v1/lmi/{userId}/{onetCode}/{location}"

response = requests.get(url, auth=auth_values)
 
# Convert JSON to dict and print
print(response.json())

#r = requests.get(url).json()
#response = requests.get('{URL}', headers={'Authorization': 'token'})

{'Message': 'Unauthorized', 'ErrorCode': 401}

In [ ]:
from urllib.request import Request, urlopen
q = Request('https://api.careeronestop.org/v1/lmi/eODEsyCieWZJ+6HhiLG+oVL2DoRo2pKsw3xtCEnO4HXLwfYMVWdFG18co4RuFvHr3rN/EcuNhcqY4rImdHXMEQ==/3HAyrFBWGYLl6M1/53304100/san%20diego%2C%20ca')
q.add_header('Bearer', 'eODEsyCieWZJ+6HhiLG+oVL2DoRo2pKsw3xtCEnO4HXLwfYMVWdFG18co4RuFvHr3rN/EcuNhcqY4rImdHXMEQ==')
a = urlopen(q).read()

print(a)

In [3]:

d=pd.read_html('https://www.careeronestop.org/Toolkit/StateAndLocal/Wages.aspx?soccode=533041&location=92101&dataview=&hourly=False&national=false')

In [4]:
type(d)

list

In [5]:
len(d)

1

In [6]:
d[0]

,Location,PayPeriod,2017,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0
,10%,25%,Median,75%,90%,Unnamed: 5_level_1,Unnamed: 6_level_1
0,United States,Hourly,$9.02,$10.16,$11.96,$15.01,$18.93
1,NaN,Yearly,"$18,750","$21,130","$24,880","$31,210","$39,380"
2,California,Hourly,$10.61,$11.44,$13.76,$18.02,$21.81
3,NaN,Yearly,"$22,070","$23,800","$28,620","$37,470","$45,370"
4,"San Diego-Carlsbad-San Marcos, CA MSA",Hourly,$10.55,$11.20,$12.30,$14.66,$18.06
5,NaN,Yearly,"$21,940","$23,300","$25,580","$30,500","$37,560"

In [11]:
df=d[0]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
(Location, 10%)                             3 non-null object
(PayPeriod, 25%)                            6 non-null object
(2017, Median)                              6 non-null object
(Unnamed: 3_level_0, 75%)                   6 non-null object
(Unnamed: 4_level_0, 90%)                   6 non-null object
(Unnamed: 5_level_0, Unnamed: 5_level_1)    6 non-null object
(Unnamed: 6_level_0, Unnamed: 6_level_1)    6 non-null object
dtypes: object(7)
memory usage: 416.0+ bytes

In [ ]:
r = requests.get(url, headers=header)

In [ ]:
userId

In [ ]:
onetCode

In [ ]:
location

In [ ]:
token

In [ ]:
url

In [ ]:
response

In [ ]:
"https://api.careeronestop.org/v1/lmi/3HAyrFBWGYLl6M1/53304100/san%20diego%2C%20ca"